.game-member {
  width: 100%;
}

.card-shield {
  position: absolute;
  width: 260px;
  height: 120px;
}

.card-shield p {
  font-size: 25px;
  color: white;
  text-align: center;
  margin-top: 45px;
}

#title-member {
  margin-top: 10px;
  margin-left: 2px;
}

.card-body-member {
  background-color: black;
  color: white;
  height: 119px;
}

.card-image {
  width: 100%;
  height: 100%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
}
#title-lives {
  width: 200px;
  margin-left: 2px;
}

@media (min-width: 1000px) and (max-width: 1199px) {
  .card-shield {
    width: 180px;
    height: 120px;
    margin: 0 0 0 20px;
  }
  #title-member {
    margin-top: 7px;
    width: 200px;
    margin-left: -11px;
  }
  #title-lives {
    width: 200px;
    margin-left: -11px;
  }
}

@media (min-width: 769px) and (max-width: 999px) {
  .card-shield {
    width: 180px;
    height: 120px;
    margin: 0 0 0 0px;
  }
  #title-member {
    margin-top: 10px;
    width: 200px;
    margin-left: -11px;
  }
  #title-lives {
    width: 200px;
    margin-left: -11px;
  }
  .row-member {
    width: 90%;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .card-shield {
    width: 120px;
    margin: 0 0 0 13%;
  }
  .card-shield p {
    font-size: 20px;
    margin-top: 45px;
  }

  #title-member {
    margin-top: 20px;
    width: 200px;
    margin-left: -11px;
    font-size: 12px;
  }

  #title-lives {
    width: 200px;
    margin-left: -11px;
    font-size: 14px;
  }
  .card-image {
    height: 100%;
    position: absolute;
  }
  .row-member {
    width: 85%;
  }
}

@media (min-width: 480px) and (max-width: 576px) {
  .card-shield {
    width: 75%;
    margin: 0 0 0 -7%;
  }
  .card-shield p {
    margin-top: 50px;
    font-size: 15px;
  }

  #title-member {
    margin-top: 25px;
    font-size: 10px;
    width: 200px;
    margin-left: -11px;
  }

  #title-lives {
    width: 100px;
    margin-left: -10px;
    font-size: 10px;
  }
  .card-image {
    height: 100%;
    position: absolute;
  }
  .row-member {
    width: 95%;
  }
}
@media (min-width: 375px) and (max-width: 479px) {
  .card-shield {
    width: 65px;
    height: 70px;
    margin: 0 0 0 22%;
  }
  .card-shield p {
    margin-top: 27px;
    font-size: 12px;
  }

  #title-member {
    margin-top: 20px;
    font-size: 11px;
    width: 200px;
    margin-left: -11px;
  }
  .card-body-member {
    width: 160%;
  }
  #title-lives {
    width: 100px;
    margin-left: -10px;
    font-size: 11px;
  }
  .card-image {
    height: 100%;
    position: absolute;
  }

  .row-card {
    height: 10px;
  }

  .card {
    height: 120px;
    width: 145%;
  }
  .row-member {
    width: 65%;
  }
}
@media (max-width: 374px) {
  .card-shield {
    width: 75%;
    height: 70px;
    margin: 0 0 0 15%;
  }
  .card-shield p {
    margin-top: 29px;
    font-size: 11px;
  }

  #title-member {
    margin-top: 19px;
    font-size: 11px;
    width: 200px;
    margin-left: -12px;
  }
  .card-body-member {
    width: 160%;
  }
  #title-lives {
    width: 100px;
    margin-left: -12px;
    font-size: 11px;
  }
  .card-image {
    height: 100%;
    position: absolute;
  }

  .row-card {
    height: 10px;
  }
  .row-member {
    width: 95%;
  }
}
