.game-member-board {
  width: 100%;
  margin-top: 20px;
}

.enemy {
  width: 73%;
  margin-left: 2%;
}

.player {
  width: 73%;
  margin-top: 60px;
  margin-left: 2%;
}

.cards {
  margin-top: 80px;
  margin-left: 2%;
}

.turn {
  background-color: crimson;
}

.rowCards {
  width: 85%;
}

.messageCard {
  width: 50%;
  height: 20px;
  margin-top: 4px;
  margin-left: 2%;
}

.modal {
  margin-top: 220px;
}

@media (min-width: 1200px) and (max-width: 1300px) {
  .rowCards {
    width: 85%;
  }

  .player {
    width: 73%;
    margin-top: 110px;
  }
  .cards {
    margin-top: 115px;
  }
  .messageCard {
    margin-top: 4px;
  }
}

@media (min-width: 1000px) and (max-width: 1199px) {
  .rowCards {
    width: 80%;
  }

  .player {
    margin-top: 120px;
  }
  .cards {
    margin-top: 100px;
  }
  .messageCard {
    width: 80%;
    margin-top: 6px;
  }
  .modal {
    margin-top: 230px;
  }
}
@media (min-width: 769px) and (max-width: 999px) {
  .rowCards {
    width: 75%;
  }

  .player {
    margin-top: 70px;
  }
  .cards {
    margin-top: 70px;
  }
  .messageCard {
    width: 80%;
    margin-top: 3px;
  }
  .modal {
    margin-top: 180px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .rowCards {
    width: 72%;
  }

  .player {
    margin-top: 105px;
  }
  .cards {
    margin-top: 90px;
  }
  .messageCard {
    position: absolute;
    margin-top: -1px;
    width: 85%;
  }
  .modal {
    margin-top: 180px;
  }
}

@media (min-width: 480px) and (max-width: 576px) {
  .cards {
    margin-top: 95px;
  }
  .rowCards {
    width: 68%;
  }

  .player {
    margin-top: 100px;
  }
  .modal {
    margin-top: 195px;
  }
  .messageCard {
    position: absolute;
    margin-top: -1px;
    width: 90%;
  }
}
@media (min-width: 375px) and (max-width: 479px) {
  .cards {
    margin-top: 64px;
  }
  .rowCards {
    width: 100%;
  }

  .player {
    margin-top: 100px;
  }
  .modal {
    margin-top: 195px;
  }
  .messageCard {
    position: absolute;
    margin-top: 2px;
    width: 90%;
    font-size: 13px;
  }
}

@media (max-width: 374px) {
  .cards {
    margin-top: 64px;
  }
  .rowCards {
    width: 100%;
  }

  .player {
    margin-top: 100px;
  }
  .modal {
    margin-top: 195px;
  }
  .messageCard {
    position: absolute;
    margin-top: 2px;
    width: 92%;
    font-size: 12px;
  }
}
