#modal-notification {
  margin-top: 230px;
  width: 400px;
  height: 200px;
  background-color: gray;
  margin-right: auto;
  margin-left: auto;
}

#modal-notification p {
  color: white;
  text-align: center;
  margin-top: 70px;
}

@media (min-width: 375px) and (max-width: 479px) {
  #modal-notification {
    width: 300px;
    height: 150px;
  }
  #modal-notification p {
    margin-top: 45px;
  }
}

@media (max-width: 374px) {
  #modal-notification {
    width: 250px;
    height: 150px;
  }
  #modal-notification p {
    margin-top: 45px;
  }
}
